sublime:
  # Lookup values are set in defaults.yaml and may be overridden here.
  lookup:
    channel: stable

  config:
    channel: stable  # can be stable or dev

    # Where settings should be sourced from. Should be set somewhere within
    # your environment. Watch out for namespace collisions with formula.
    source: salt://binaries/sublime

    users:
      - list
      - of
      - home
      - dir
      - users
      - to
      - manage
